<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form method="POST" action="myForm">
    <textarea placeholder="Movies seperated by comma" name="Movie"></textarea>
    <input type="submit" value="Send" style="display: block;">

    </form>
</body>

</html> 